<h2 class="home-title">WHAT'S NEW</h2>
<div id="news-list">
  <ul class="events-list">
    <% @events.each do |event| %>
      <li class="events-item">
        <div class="events-item__date">
          <%= event.date.strftime("%Y/%m/%d") %>
        </div>
        <div class="events-item__content">
          <%= event.content %>
        </div>
        <div class="events-item__edit-delete">
          <%= link_to "#" do %>
            <i class="fa-solid fa-sliders"></i>
          <% end %>
          <%= link_to "#" do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="news-create">
    <%= link_to "#" do %>
      Create
    <% end %>
  </div>
</div>
