<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with model: @product do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :price %>
      <%= f.number_field :price, class: 'form-control' , min:1 %>
      <%= f.label :cost %>
      <%= f.number_field :cost, class: 'form-control', min:1  %>
      <%= f.label :category %>
      <%= f.select :category, %w[drink meal etc].map , {}, class: 'form-control' %>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' ,style: "height: 100px" %>
      <div class="image-submit-container">
        <span class="image">
          <%= f.file_field :ref , accept: "image/jpeg,image/gif,image/png,image/webp,image/jpg" %>
        </span>
        <%= f.submit title, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
