<header>
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "logo2.png", alt: "logo", class: "logo" %>
    <% end %>
  </div>
  <nav class="header-left">
    <ul>
      <li><%= link_to "menu", products_path %></li>
      <li><%= link_to "about", about_path %></li>
    </ul>
  </nav>
  <nav class="header-links">
    <ul>
      <li><%= link_to root_path do %>
          <i class="fa fa-house"></i>
        <% end %></li>
      <li><%= link_to root_path + "#map" do %>
          <i class="fa-solid fa-location-dot"></i>
        <% end %></li>
      <li><%= link_to "#" do %>
          <i class="fa-solid fa-globe"></i>
        <% end %></li>
    </ul>
  </nav>
</header>