<aside class="side-nav">
  <nav>
    <ul>
      <li><%= render "products/search" %></li>
      <li><%= link_to "Add", new_product_path %></li>
      <li><%= link_to "Drinks", products_path + "#drinks" %></li>
      <li><%= link_to "Meals", products_path + "#meals" %></li>
      <li><%= link_to "Etc", products_path + "#etc" %></li>
    </ul>
  </nav>
</aside>