<aside class="side-nav">
  <nav>
    <ul>
      <li><%= render "products/search" %></li>
      <li><%= link_to "Add", new_product_path %></li>
      <li><%= link_to "Drinks", products_path(category: 'drink')%></li>
      <li><%= link_to "Meals", products_path(category: 'meal')%></li>
      <li><%= link_to "Etc", products_path(category: 'etc')%></li>
    </ul>
  </nav>
</aside>