<!DOCTYPE html>
<html>
  <%= render 'layouts/_head' %>
  <body>
    <%= render 'layouts/header' %>
    <% unless yield(:title) == "Home" %>
      <section class="page-title">
        <h1><%= yield(:title) %></h1>
      </section>
    <% end %>
    <div class="container">
      <% unless yield(:title) == "Home" %>
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <!-- <%= debug(params) if Rails.env.development? %> -->
  </body>
</html>